
@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>

@foreach (var category in ViewBag.Categories)
{
    <div class="panel-body">
        @Html.Label("Name", "Name:")
        <br />
        <p>@category.Name</p>


        @using (Html.BeginForm(
            actionName: "CategoryDescription", controllerName: "Category", method: FormMethod.Get,
            routeValues: new { id = category.CategoryId }))
        {
            <button class="btn btn-primary">Description</button>
        }
    </div>
}

