@{
    ViewBag.Title = "Contact";
}
<h1>Don' t hesitate to contact us!</h1>

<address>
    Some address<br />
    Road, Number 00000<br />
    <abbr title="Phone">Phone:</abbr>
    0000000000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support-luiza@ecommerce.com">support-luiza@ecommerce.com</a><br />
</address>

<address>
    <p>For more informations, call 0000000000 every day between 9 AM and 6 PM</p>
    <h4>Thank you!</h4>
</address>