@{
    ViewBag.Title = "Home Page";
}

<div class="text-center container">
    <h1 class="display-4 text-primary p-3 mb-2 bg-dark">Welcome</h1>
    <h3 class="font-weight-bolder">This is a simple Ecommerce site, for presentation purpose only. </h3>
    <h2 We are glad to have you here!</h2>

    <img src="~/Content/blue-shopping-bag-md.png" width="400" height="400" />
</div>