@{
}

<div class="text-center container" style="text-align:center">
    <h1 class="display-4 text-primary p-3 mb-2 bg-dark">Shop Like a Celebrity</h1>

    <h3>This site is ment to help you find the most atractive pieces of clothing, the most popular outfits wore by our beloved celebrities! We want to inspire and enjoy our buyers and fans!</h3>

    <h2> We are glad to have you here!</h2>
    </br>
    <img src="~/Content/Images/blue-shopping-bag-md.png" width="400" height="400" />
    </br>
    <h4 class="font-weight-bolder">This is a simple Ecommerce site, for presentation purpose only. </h4>
</div>

